
@{
    ViewData["Title"] = "Layout";
}

<h1>PanchiPuzzi SA</h1>
<div class="text-center">
    <h1 class="display-4">¡Sale Krunker!</h1>
    <p>Nacho <a href="https://docs.google.com/document/d/1fS92AZCuvGXhTIzjkJ_JHZEpdgtA5P68tYixVeQimVA/preview?tab=t.0">Necesitas Ayuda?</a>.</p>
</div>

